* {
    padding: 0;
    margin: 0;
box-sizing: border-box;
}

nav { 
    background: linear-gradient(to right, rgb(27, 27, 43), rgb(57, 60, 97));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav div { 
    color: white;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    
}


body { 
    background-color: rgb(34, 34, 40);
}

.outer-score-container { 
    height: 200px;
    width: 600px;
    border: 5px solid white;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.score { 
    font-size: 100px;
    color: white;
    margin: 20px;
}

.user { 
    background-color: rgb(255, 61, 77);
    color: white;
    padding: 15px;
    width: 85px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 4px;
    position: relative;
    right: 140px;
    font-size: 20px;
    font-weight: bolder;
}

.computer {
    background-color: rgb(255, 61, 77);
    color: white;
    padding: 16px;
    width: 85px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 4px;
    position: relative;
    left: 140px;
    font-size: 20px;
    font-weight: bolder;
}

.tie { 
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 61, 77);
    color: white;
    padding: 10px;
    width: 85px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 4px;
    position: absolute;
    top: 160px;
    font-size: 20px;
    font-weight: bolder;
    white-space: nowrap;
    margin-left: 16px;
}

#tie-score { 
    margin-left: 7px;
}

main { 
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
    align-items: center;
    
}

.button-for-rock-paper-sicciors { 
    border: 5px solid white;
    background-color: transparent;
    padding: 80px;
    border-radius: 2990px;
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

i { 
    position: relative;
    font-size: 80px;
}

.button-for-rock-paper-sicciors:hover, i:hover { 
    background-color: aliceblue;
    transition: 2s;
    color: black;
}

